<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <title>Home</title>
      <!-- Meta Data -->
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">



</head>
<body>
<div class="container content-body">
  <hr>
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Wellcome!</h4>
    <p>This is an implementation of a parameterizable <b>side bar</b>, where the menu items are defined by a JSON configuration file. Through this file the algorithm defines a hierarchical menu, where there are nested items. This challenge is a recursive problem, it was implemented using the Flask framework written in Python and based on the WSGI Werkzeug library and the Jinja2 library.</p>
    <hr>
    <p class="mb-0">See you later.</p>
  </div>

</div>

</body>

</html>