<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Parameterizable <b>Side Bar</b>.</title>

    <link rel="stylesheet" href ="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href ="{{ url_for('static', filename='css/init.css') }}">
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">


      <main role="main" class="inner cover">
        <h1 class="cover-heading">An implementation of a Parameterizable <b>Side Bar</b>.</h1>
          <hr>
        <p class="lead">Choose a JSON file to generate a sidebar:</p>
        <p class="lead">
            <form>
                <div class="form-group">
                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>
                <button type="submit" class="btn btn-lg btn-secondary">Submit</button>
            </form>

        </p>
          <hr>
      </main>

    </div>


<script src ="{{ url_for('static', filename='lib/jquery/jquery.js') }}"></script>
<script src ="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.js') }}"></script>
<script src ="{{ url_for('static', filename='js/main.js') }}"></script>


</body></html>